/*Definimos unas reglas básicas que debe cumplir toda la página*/
*
{
    font-family: Verdana;
}

/*Separacion entre secciones y relleno para separar contenido de los bordes*/
section
{
    margin: 2% auto;
    padding: 20px;
}

/*Estilo para todos los titulos de seccion*/
section > h2
{
    text-align: center;
    margin: 2% auto;
}

/*Hacemos sticky el menu para que siempre este en pantalla*/
#inicio
{
    position: sticky;
    top: 0;
}

/*Definimos las reglas del menu de navegacion, le aplicamos colores, 
direction para tener la lista en linea, wrap para que se ajuste al modificar la ventana o pantalla, 
justify content para centrar los elementos de la lista y le quitamos los puntos a cada li*/
.menuportfolio
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    background-color: black;
}

/*Un poco de relleno a los li y los enlaces del menu de navegacion para que sea mas comodo visualmente, quitamos subrayado y cambiamos color de texto, 
y un color distinto de fondo a los botones al poner encima el cursor*/
.menuportfolio li
{
    padding: 20px;
}

.menuportfolio li a
{
    padding: 20px;
    text-decoration: none;
    color: white;
}

.menuportfolio li a:hover
{
    background-color:rgb(31, 31, 44);
}

/*Alternamos color de fondo para las distintas secciones del portafolio*/
main section:nth-child(odd)
{
    background-color: rgb(227, 226, 226);
}

/*Colocamos con el flex row los elementos principales del header y los centramos*/
header div
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Creamos un pequeño margen entre imagen y texto*/
header div img
{
    margin:auto 20px;
}

/*Creamos un grid area para organizar la seccion "Sobre mi"*/
#sobre_mi
{
    display: grid;
    grid-template-areas: 
    "h2 h2 h2 h2"
    "skills skills formacion formacion"
    "intereses intereses intereses intereses"
    "curr_l bland_s bland_s tech";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5% 1fr 1fr 1fr;
    place-items: center;
    gap: 20px;
}

/*Damos estilo a los distintos apartados de la seccion*/
#sobre_mi article
{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

/*Y les asignamos sus respectivas posiciones en el grid*/
#sobre_mi > h2
{
    grid-area: h2;
    text-align: center;
}

#sobre_mi .skills
{
    grid-area: skills;
}

#sobre_mi .formacion
{
    grid-area: formacion;
}

#sobre_mi .intereses
{
    grid-area: intereses;
}

#sobre_mi .current_learning
{
    grid-area: curr_l;
}

#sobre_mi .bland_skills
{
    grid-area: bland_s;
}

#sobre_mi .tech
{
    grid-area: tech;
}

/*Usamos flex para organizar la sección de proyectos*/
#proyectos
{
    display: flex;
    flex-direction: column;
}

#proyectos div
{
    border-radius: 15px;
    background-color: rgb(210, 210, 210);
    padding: 20px;
    margin: 2% auto;
}

/*Estilo para seccion "Experiencia"*/

/*Estilo para el footer*/

/*Estilo para el formulario de contacto*/